.site-header {
  background-color: var(--bg-alt);
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: row;
  padding: 1rem 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(8px);
}

#ham{
    display: none;
}

@media (max-width: 1200px) {
    #navigation {
        display: none;
    }

    #ham{
        display: block;
    }
}

@media (max-width: 600px) {
    #navigation {
        display: none;
    }

    #ham{
        display: none;
    }
}